@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&family=MedievalSharp&display=swap');
h1{
  font-family:"MedievalSharp", fantasy ;
  font-weight: 100;
  text-align: center;  
}

h2{
  text-decoration: underline;
    font-size: 30px;
    background-color: #ffff;
    text-align: center;
}

.center-text {
  text-align: center;
}

.highlight {
  background-color: yellow;
}