@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');

body{
    background-color:  rgba(100,0,0,1.0ß);
}

h1,h2,h3{
    font-family:"Caacupe", fantasy ;
    font-weight: 100;
}

h1{
    background-color: #ffff;
    text-align: center;
}
h2{
    text-decoration: underline;
    font-size: 30px;
}
h3{
    color: plum;

}

li{
    font-family: sans-serif;
    font-size: 20px;
}

ul{
    background-color: aquamarine;
}

ol{
    
}